<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="width: 300px; max-width: 300px; font-size: medium; font-family: monospace;">
    <div>
        <div style="display: flex; justify-content: space-around;">
            <p><b>FACTURA DE CONSUMO ELECTRONICA</b></p>
        </div>

        <table style="width: 100%;">
            <tr>
                <td style="text-align: left; width: 70%; border-style:dashed; border-color: black; border-left: 2px; border-right: 2px;">DESCRIPCION</td>
                <td style="text-align: center; width: 15%; border-style:dashed; border-color: black; border-left: 2px; border-right: 2px;">ITBIS</td>
                <td style="text-align: right; width: 15%; border-style:dashed; border-color: black; border-left: 2px; border-right: 2px;">VALOR</td>
            </tr>
            <tr>
                <td style="text-align: left; width: 70%;">
                    <div>
                        <p>{{PRODUCT}}</p>
                        <p>{{STOCK}}</p>
                    </div>
                </td>
                <td style="text-align: center; width: 15%;">{{ITBIS}}</td>
                <td style="text-align: right; width: 15%;">{{PRODUCTTOTAL}}</td>
            </tr>
            <tr>
                <td style="text-align: left; width: 70%;"><b>TOTAL A PAGAR</b></td>
                <td style="text-align: center; width: 15%;">{{ITBISTOTAL}}</td>
                <td style="text-align: right; width: 15%;"><b>{{TOTAL}}</b></td>
            </tr>
        </table>
    </div>
</body>

</html>

</html>